.navbar {
  top: 0;
  background-color: #9381ff;
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1000;
  box-shadow: 0px 5px 5px indigo;
}

.navbar-logo {
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  align-items: center;
  gap: 15px;
}

.navbar-list li {
  line-height: 0.75;
  text-align: center;
}

.hamburger-menu {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-left: 5px;
  visibility: hidden;
}

.hamburger-menu input {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 2;
}

.hamburger-menu span {
  width: 35px;
  height: 4.5px;
  background-color: black;
  transition: all 0.5s;
}

.hamburger-menu span:nth-child(2) {
  transform-origin: 0 0;
}
.hamburger-menu span:nth-child(4) {
  transform-origin: 0 100%;
}

.hamburger-menu input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(4px, -5px);
}
.hamburger-menu input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
.hamburger-menu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(3px, 6px);
}

.account {
  display: flex;
  margin-left: auto;
  align-items: center;
  height: 50px;
}

.account a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  outline: none;
  margin-right: 8px;
  margin-left: auto;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.1em;
  padding: 5px 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

.account a:hover {
  background-color: #e9d7f4;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    visibility: visible;
  }
  
  .navbar-logo {
    position: static;
  }
  
  .navbar-list {
    position: absolute;
    display: flex;
    visibility: visible;
    flex-direction: column;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #9381ff;
    opacity: 1;
    transition: all 1s ease;
    gap: 0;
    box-shadow: 0px 5px 5px indigo;
  }
  
  .navbar-list li {
    height: 40px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transition: all 0.5s ease;
    color: #ffffff;
  }
  
  .navbar-list li br {
    display: none;
  }
  
  .navbar-list.terbuka {
    visibility: hidden;
    left: -500px;
    right: 500px;
    opacity: 0;
  }
  
  .navbar-list li:hover {
    background-color: #d70bea;
    color: #000000;
  }
  
  .navbar-list.terbuka li br {
    display: none;
  }
  
  .account a {
    padding: 4px 7px;
  }
}